@use 'src/styles/vars.scss' as vars;

.row {
  border-top: 1px solid var(--theme-accent-line-2);

  td {
    padding: 1.5rem;
  }

  .itemList {
    list-style-type: disc;
    margin-bottom: 1rem;

    li {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      word-break: break-word;

      .notFulfilled {
        color: vars.$red;
      }

      .fulfilled {
        color: vars.$green-300;
      }

      [type='checkbox'] {
        cursor: pointer;
        height: 1rem;
        margin-right: 5px;
        width: 1rem;
      }
    }
  }
}
