@use 'src/styles/vars.scss' as vars;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  align-content: center;
  display: grid;
  flex: auto;
  gap: 2rem 4rem;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  justify-content: center;

  .community {
    animation: fade-in 1s backwards;
    column-gap: 1rem;
    display: grid;
    grid-template-areas:
      'logo name'
      'logo description';
    grid-template-columns: auto 1fr;
    justify-items: start;

    .logo {
      grid-area: logo;
      height: 5rem;
      width: 5rem;
    }

    .name {
      font-size: 2.5rem;
      font-weight: 500;
      grid-area: name;
    }

    .description {
      align-self: self-end;
      font-size: 1.5rem;
      grid-area: description;
    }
  }

  @media (max-width: vars.$breakpoint-md) {
    grid-auto-flow: row;

    .community {
      .logo {
        height: 3rem;
        width: 3rem;
      }

      .name {
        font-size: 1.5rem;
      }

      .description {
        font-size: 1rem;
      }
    }
  }
}
