@use 'src/styles/vars.scss' as vars;

.header {
  background-color: var(--theme-background);
  height: vars.$header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  .content {
    align-items: center;
    background-color: var(--theme-background);
    display: flex;
    height: 4rem;
    padding: 0 1rem;
    width: 100%;
    z-index: 20;

    .toggleIcon {
      background-color: inherit;
      display: none;
      height: 20px;
      margin-right: auto;
      padding: 0;
      position: relative;
      width: 40px;

      .bar1 {
        background-color: var(--theme-text-on-background-1);
        border-radius: 2px;
        height: 5px;
        position: absolute;
        top: 1.5px;
        transition: 0.3s ease-in-out transform, 0.3s ease-in-out transform-origin;
        width: 40px;

        &.open {
          transform: rotate(45deg) translateY(-10px);
          transform-origin: top left;
        }
      }

      .bar2 {
        background-color: var(--theme-text-on-background-1);
        border-radius: 2px;
        bottom: 1.5px;
        height: 5px;
        left: 0;
        position: absolute;
        transition: 0.3s ease-in-out transform, 0.3s ease-in-out transform-origin,
          0.3s ease-in-out width;
        width: 24px;

        &.open {
          transform: rotate(-45deg) translateY(10px);
          transform-origin: bottom left;
          width: 40px;
        }
      }
    }

    .navLeft {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 1.25rem;
      height: 100%;
      justify-content: center;
      margin-right: auto;
      width: fit-content;

      .headerTitle {
        color: var(--theme-text-on-background-1);
        font-size: 1.5rem;
        font-weight: 700;
        vertical-align: middle;
      }
    }

    .icon {
      cursor: pointer;
      height: 3rem;
      margin-right: 1rem;
      width: 3rem;
    }

    .portalLinks {
      display: flex;
      font-size: 16px;
      font-weight: 700;
      gap: 1rem;
      line-height: 24px;
      margin-right: auto;
    }

    .iconLinks {
      align-items: center;
      display: flex;
      gap: 3rem;
      padding-right: 2rem;

      .iconLink {
        cursor: pointer;
      }
    }
  }

  .mobileNav {
    align-items: flex-start;
    background-color: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 300%;
    margin-top: -18rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
    position: relative;
    transition: margin-top 0.3s cubic-bezier(0, 0.4, 0.1, 1),
      padding-bottom 0.3s cubic-bezier(0, 0.4, 0.1, 1); // fast-out-slow-in timing
    width: 100vw;
    z-index: -1;

    &.open {
      margin-top: 0;
      padding-bottom: 3rem;
    }

    .mobileNavItem {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      padding: 0 0.5rem;
      text-decoration: none;
    }
  }

  .wainbow {
    background: vars.$wainbow;
    height: 0.25rem;
    width: 100vw;
  }
}

@media screen and (width <= vars.$breakpoint-md) {
  .header {
    .content {
      .toggleIcon {
        display: block;
      }

      .icon {
        margin-right: 0;
      }

      .navLeft {
        .headerTitle {
          font-size: 1.25rem;
        }
      }

      .portalLinks {
        display: none;
      }

      .iconLinks {
        display: none;
      }
    }
  }
}
