@use 'src/styles/vars.scss' as vars;

.header {
  height: vars.$header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .content {
    align-items: center;
    background-color: var(--theme-background);
    display: flex;
    height: 4rem;
    padding: 0 1rem;
    width: 100%;

    .navLeft {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 1.25rem;
      height: 100%;
      justify-content: center;
      margin-right: auto;
      width: fit-content;

      .headerTitle {
        color: var(--theme-text-on-background-1);
        font-size: 1.5rem;
        font-weight: 700;
        vertical-align: middle;
      }
    }

    .icon {
      cursor: pointer;
      height: 3rem;
      margin-right: 1rem;
      width: 3rem;

      &.mobile {
        margin-right: 0;
      }
    }

    .portalLinks {
      display: flex;
      font-size: 16px;
      font-weight: 700;
      gap: 1rem;
      line-height: 24px;
      margin-right: auto;

      &.hidden {
        display: none;
      }
    }

    .iconLinks {
      align-items: center;
      display: flex;
      gap: 3rem;
      padding-right: 2rem;

      .iconLink {
        cursor: pointer;
      }

      &.hidden {
        display: none;
      }
    }
  }

  .wainbow {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#e981a0),
      color-stop(18.75%, #f9a857),
      color-stop(36.98%, #80ce1c),
      color-stop(55.73%, #51c0c0),
      color-stop(75%, #62b0ff),
      to(#816dff)
    );
    background: vars.$wainbow;
    height: 0.25rem;
    position: absolute;
    top: 4rem; // Position the wainbow at the bottom
    transform: translateY(0); // Move wainbow to bottom of navbar by default
    transition: 0.3s ease-in-out; // Apply transition to transform property
    width: 100vw;
  }

  .mobileNav {
    align-items: right;
    background-color: var(--theme-background);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 300%;
    margin-top: -18rem;
    padding: 0 1rem;
    padding-bottom: 3rem; // Add padding to the bottom of the mobileNav
    position: relative;
    transition: 0.3s ease-in-out;
    width: 100vw;
    z-index: -1;

    &.open {
      margin-top: 0;

      ~ .wainbow {
        top: auto;
      }
    }
  }

  .mobileNavItem {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 0 0.5rem;
    text-decoration: none;
  }

  .toggleIcon {
    background-color: var(--theme-background);
    height: 20px;
    margin-right: auto;
    padding: 0;
    position: relative;
    width: 40px;

    .bar1 {
      background-color: var(--theme-text-on-background-1);
      border-radius: 2px;
      height: 5px;
      position: absolute;
      top: 1.5px;
      transition: 0.3s ease-in-out all;
      width: 40px;

      &.open {
        transform: rotate(45deg) translateY(-10px);
        transform-origin: top left;
      }
    }

    .bar2 {
      background-color: var(--theme-text-on-background-1);
      border-radius: 2px;
      bottom: 1.5px;
      height: 5px;
      left: 0;
      position: absolute;
      transition: 0.3s ease-in-out all;
      width: 24px;

      &.open {
        transform: rotate(-45deg) translateY(10px);
        transform-origin: bottom left;
        width: 40px;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
