@use '../../../styles/vars.scss' as vars;

.button {
  align-items: center;
  background-color: var(--theme-primary-2);
  border-radius: 8px;
  color: var(--theme-background);
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  min-height: 2rem;
  padding: 4px 1.5rem;
  width: fit-content;

  &[data-size='default'] {
    min-height: 2.5rem;
  }

  &[data-size='small'] {
    min-height: 2rem;
    padding: 4px 1rem;
  }

  &[data-variant='primary'] {
    &[data-destructive='true'] {
      background-color: #ef626c;
      color: #fff;
    }
  }

  &[data-variant='secondary'] {
    background-color: var(--theme-elevated-background);
    border: 1px solid var(--theme-elevated-stroke);
    color: var(--theme-text-on-background-1);

    &[data-destructive='true'] {
      background-color: #fff;
      border: 1px solid #ef626c;
      color: #ef626c;
    }
  }

  &:disabled {
    background-color: vars.$disabled !important;
    cursor: default;
  }
}
