.icon {
  align-self: flex-start;
  background-color: var(--theme-shadow);
  border-radius: 50%;
  box-sizing: content-box;
  display: flex;
  flex: none;
  height: 1.5rem;
  padding: 0.5rem;
  width: 1.5rem;
}
