@use 'src/styles/vars.scss' as vars;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .title {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    gap: 1rem;
    margin: 0;
    word-break: break-word;
  }

  .description {
    margin: 0;
    word-break: break-word;
  }

  .card {
    flex: none;
    max-width: calc(100vw - 6rem);
    width: 25rem;
  }
}
