@use 'src/styles/vars.scss' as vars;

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;

  h1 {
    font-size: 2rem;
  }

  .viewPage {
    background-color: var(--theme-primary-2);
    border-radius: 0.5rem;
    color: var(--theme-background);
    display: flex;
    font-weight: bold;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.form {
  column-gap: 8px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 1rem;

  [type='color'] {
    cursor: pointer;
    max-width: 5rem;
    padding: 0 !important;
  }
}

.photos {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin: 1rem 0;

  @media (max-width: vars.$breakpoint-sm) {
    grid-template-columns: 1fr 1fr;
  }

  li {
    aspect-ratio: 1 / 1;
    position: relative;

    img {
      background-color: var(--theme-surface-1);
      border-radius: 20px;
      object-fit: cover;
    }

    button {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      z-index: 2;
    }

    .addImage {
      align-items: center;
      border: 1px solid var(--theme-shadow);
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }

      [type='file'] {
        @include vars.accessibly-hidden;
      }
    }
  }
}

.submitButtons {
  display: flex;
  gap: 1rem;
}

:export {
  #{defaultThemeColorHex}: vars.$blue-5;
}
