.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rowContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 79px;
}

.navbarBodyDiv {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
