.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rowContainer {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.navbarBodyDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
