.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rowContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 79px;
}

.navbarBodyDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
