@use 'sass:math';
@use 'src/styles/vars.scss' as vars;

$margin: 40px;
$height: 200px;

.cropWrapper {
  border-radius: 1rem;
  cursor: grab;
  overflow: hidden;
  position: relative;
  touch-action: none;
  user-select: none;
  z-index: 0;

  .image {
    margin: $margin;
    position: absolute;
    z-index: -1;
  }

  .frame {
    border-radius: 0.5rem;
    box-shadow: 0 0 0 3px var(--theme-text-on-background-1),
      0 0 0 (($height + $margin) * sqrt(0.5)) var(--theme-accent-line-1-transparent);
    height: $height;
    margin: $margin;

    &.circle {
      border-radius: 50%;
    }
  }
}

.controls {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  .zoomWrapper {
    align-items: center;
    display: flex;
    flex: auto;

    .zoom {
      flex: auto;
      width: 0;
    }
  }

  .upload {
    background-color: var(--theme-primary-2);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    color: var(--theme-background);
    font-size: 1rem;
    font-weight: bold;
    height: 2.5rem;
    width: 6.5rem;
  }
}
