@use 'src/styles/vars.scss' as vars;

.container {
  background: var(--theme-background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  -ms-overflow-style: none;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  transition: all 0.3s;
  width: 20rem;

  &.bordered {
    border: 1px solid var(--theme-card-outline);
    border-radius: 10px;
  }

  &:not([disabled]):hover {
    animation: 3s color-change infinite alternate;
    outline: 4px solid var(--theme-elevated-stroke);
    transform: scale(0.975);

    @keyframes color-change {
      0% {
        border-color: #e981a0;
        outline-color: #e981a0;
      }

      25% {
        border-color: #f9a857;
        outline-color: #f9a857;
      }

      50% {
        border-color: #51c0c0;
        outline-color: #51c0c0;
      }

      75% {
        border-color: #62b0ff;
        outline-color: #62b0ff;
      }

      100% {
        border-color: #816dff;
        outline-color: #816dff;
      }
    }

    &:nth-child(5n) {
      animation-delay: 0s;
    }

    &:nth-child(5n + 1) {
      animation-delay: -0.6s;
    }

    &:nth-child(5n + 2) {
      animation-delay: -1.2s;
    }

    &:nth-child(5n + 3) {
      animation-delay: -1.8s;
    }

    &:nth-child(5n + 4) {
      animation-delay: -2.4s;
    }
  }

  &:disabled {
    cursor: default;
  }

  .image {
    aspect-ratio: 1920 / 1080;
    flex-shrink: 0;
    overflow: none;
    position: relative;
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 1rem 1.5rem;
    white-space: nowrap;
    width: 100%;

    .infoText {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .badges {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;

      .badge {
        border: 1px solid transparent;
        border-radius: 0.25rem;
        color: #000;
        font-size: 10px;
        font-weight: 500;
        padding: 2px 5px;

        &.badgeLive {
          background-color: vars.$danger-1;
          border-color: vars.$danger-1;
          color: #fff;
        }

        &.badgeGeneral {
          background-color: vars.$blue-3;
          border-color: vars.$blue-5;
        }

        &.badgeAi {
          background-color: vars.$scarlet-2;
          border-color: vars.$scarlet-4;
        }

        &.badgeHack {
          background-color: vars.$orange-3;
          border-color: vars.$orange-5;
        }

        &.badgeCyber {
          background-color: vars.$cyan-2;
          border-color: vars.$cyan-5;
        }

        &.badgeDesign {
          background-color: vars.$pink-2;
          border-color: vars.$pink-4;
        }

        &.badgePoints {
          background-color: #e4e4e4;
          border-color: vars.$gray-4;
        }

        &.badgeAttended {
          background-color: #b6e0ba;
          border-color: vars.$success-1;
        }
      }
    }
  }
}
