@use 'src/styles/vars.scss' as vars;

.container {
  background: var(--theme-background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  outline: 0 solid var(--theme-elevated-stroke);
  -ms-overflow-style: none;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  transition: all 0.3s;
  width: 20rem;

  &.bordered {
    border: 1px solid var(--theme-card-outline);
    border-radius: 10px;
  }

  &:not([data-disabled]):hover {
    outline-width: 4px;
    transform: scale(0.975);

    &[data-community='General'] {
      border-color: vars.$blue-4;
      outline-color: vars.$blue-4;
    }

    &[data-community='Ai'] {
      border-color: vars.$scarlet-4;
      outline-color: vars.$scarlet-4;
    }

    &[data-community='Hack'] {
      border-color: vars.$orange-4;
      outline-color: vars.$orange-4;
    }

    &[data-community='Cyber'] {
      border-color: vars.$cyan-4;
      outline-color: vars.$cyan-4;
    }

    &[data-community='Design'] {
      border-color: vars.$pink-4;
      outline-color: vars.$pink-4;
    }
  }

  &:disabled {
    cursor: default;
  }

  .image {
    aspect-ratio: 1920 / 1080;
    flex-shrink: 0;
    overflow: none;
    position: relative;
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 1rem 1.5rem;
    white-space: nowrap;
    width: 100%;

    .infoText {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}
