.formItem {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &[data-error='true'] {
    input,
    textarea,
    select {
      border: 1px solid #f00;
    }
  }

  input,
  textarea,
  select {
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 4px;
    transition: 0.3s ease-in-out border;
    width: 100%;

    &:focus {
      border: 1px solid var(--theme-primary-2);
    }
  }

  textarea {
    height: 5rem;
    resize: vertical;
  }

  .formError {
    color: #f00;
    font-size: 12px;
    font-weight: 500;
    height: 10px;
    line-height: 10px;
  }
}
