@use 'src/styles/vars.scss' as vars;

.slider {
  align-items: stretch;
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding: 1rem 0;
  scrollbar-color: var(--theme-primary-2) var(--theme-primary-1);

  // Prefer the custom scrollbar on Chrome 121+
  // https://stackoverflow.com/a/77931548
  @supports selector(::-webkit-scrollbar) {
    scrollbar-color: auto;
  }

  &::-webkit-scrollbar {
    background-color: var(--theme-accent-line-2);
    border-radius: 3rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-primary-2);
    border-radius: 3rem;
  }
}
