@use 'src/styles/vars.scss' as vars;

.itemCard {
  background-color: var(--theme-background);
  border: 1px solid var(--theme-shadow);
  border-radius: 10px;
  box-shadow: 0 4px 4px var(--theme-shadow);
  display: inline-flex;
  overflow: hidden;
  position: relative;

  .linkWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;

    &:hover {
      background-color: var(--theme-surface-2);
    }
  }

  .imageWrapper {
    // Enforce a square image while allowing the card to be squished
    padding-bottom: 100%;
    position: relative;

    img {
      object-fit: cover;
    }
  }

  .details {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;

    .title {
      font-size: 1.375rem;
      font-weight: bold;
    }

    .cost {
      font-size: 1rem;
      margin-top: auto;

      .outOfStock {
        color: #{vars.$danger-1};
        margin-left: 0.7rem;
      }
    }
  }

  .edit {
    background-color: var(--theme-primary-2);
    border-radius: 50%;
    color: var(--theme-background);
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 2px 5px var(--theme-shadow);
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
