@use 'src/styles/vars.scss' as vars;

@keyframes appear {
  from {
    filter: blur(2rem);
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex: auto;
  gap: 1rem;
  justify-content: center;

  .image {
    animation: appear 1.5s backwards;
  }

  @media (max-width: vars.$breakpoint-md) {
    .desktopOnly {
      display: none;
    }
  }
}
