@use 'src/styles/vars.scss' as vars;

@keyframes appear {
  from {
    filter: blur(2rem);
    opacity: 0;
    transform: scale(1.2);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;
  min-height: 30rem;
  @media (max-width: vars.$breakpoint-lg) {
    margin: 0 -2rem;
    min-height: 35rem;
    overflow: hidden;
  }

  .anchor {
    position: relative;

    .imageWrapper {
      .image {
        animation: appear 1s backwards;
        border-radius: 1rem;
        object-fit: cover;
        object-position: center;
        position: absolute;

        &.pill {
          border-radius: 10rem;
        }

        &.mobileOnly {
          display: none;
        }

        @media (max-width: vars.$breakpoint-lg) {
          &.mobileOnly {
            display: block;
          }

          &.desktopOnly {
            display: none;
          }
        }
      }
    }
  }
}
