@use 'src/styles/vars.scss' as vars;

@keyframes appear {
  from {
    filter: blur(2rem);
    opacity: 0;
    transform: scale(1.2);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;

  .anchor {
    position: relative;

    .imageWrapper {
      position: absolute;

      .image {
        animation: appear 1s backwards;
        border-radius: 1rem;
        object-fit: cover;
        object-position: center;

        &.pill {
          border-radius: 10rem;
        }
      }
    }
  }
}
