@use 'src/styles/vars.scss' as vars;

.field {
  display: flex;
  gap: 0.5rem;

  @media (max-width: vars.$breakpoint-md) {
    flex-direction: column;
  }

  .label {
    display: flex;
    flex: none;
    font-size: 1.375rem;
    font-weight: normal;
    width: 12rem;

    @media (max-width: vars.$breakpoint-md) {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  &.hasIcon {
    align-items: center;

    @media (max-width: vars.$breakpoint-md) {
      align-items: stretch;
    }

    .label {
      align-items: center;
      gap: 1rem;
    }
  }

  .content {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 0.5rem;

    .fieldBorder {
      border: 2px solid vars.$light-text-on-background-3;
      border-radius: 4px;
      display: flex;
      overflow: hidden;

      &.disabled {
        opacity: 0.5;
      }

      .prefix {
        align-items: center;
        background-color: #93939370;
        border-right: 2px solid vars.$light-text-on-background-3;
        display: flex;
        padding: 0 1rem;
      }

      .field {
        background: none;
        border: 0;
        color: inherit;
        flex: auto;
        font: inherit;
        padding: 0.5rem 1rem;
        width: 0;
        @media (max-width: vars.$breakpoint-md) {
          padding: 0.5rem 0.75rem;
        }

        &::placeholder {
          color: vars.$light-text-on-background-2;
        }

        &:is(textarea) {
          height: 10rem;
          line-height: 1.5;
          padding: 1rem;
          resize: vertical;
          @media (max-width: vars.$breakpoint-md) {
            padding: 0.75rem;
          }
        }
      }
    }

    .singleField {
      display: flex;
      flex-direction: column;

      .singleLabel {
        padding: 5px 0;

        @media (max-width: vars.$breakpoint-md) {
          font-size: 0.8rem;
        }
      }
    }

    .info {
      align-items: center;
      display: flex;
      gap: 1rem;

      .description {
        font-size: 0.875rem;
      }

      .chars {
        color: vars.$light-text-on-background-2;
        font-size: 0.625rem;
        margin-left: auto;
      }
    }
  }
}
