.title {
  align-items: center;
  color: var(--theme-text-on-background-1);
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 0.5rem 0;
  text-align: center;
}

.subtitle {
  align-items: center;
  color: var(--theme-text-on-background-1);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}
