@use 'src/styles/vars.scss' as vars;

.wrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  margin: 0 auto;
  max-width: 60rem;
  text-align: center;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;

    .progress {
      background-color: vars.$gray-5;
      border-radius: 1rem;
      height: 1rem;
      overflow: hidden;

      &.showProgress {
        flex: auto;
        margin-right: 2rem;
      }

      .progressBar {
        background-color: var(--theme-primary-2);
        border-radius: 1rem;
        height: 100%;
        transition: width 0.5s;
      }
    }

    .clockIcon {
      margin-right: 0.5rem;
    }
  }

  .content {
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: left;

    .endImage {
      animation: raccoon-in 3s;
      margin: auto;
      transform: scaleX(-1);
    }

    .rainbow {
      animation: rainbow-appear 1s;
      background-image: vars.$wainbow;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      flex: none;
      height: 4px;
    }
  }

  .caption {
    margin: 0 auto;
    max-width: 38rem;
    width: 100%;
  }

  .buttonRow {
    display: flex;
    justify-content: space-between;
  }

  .title,
  .caption {
    animation: fade-in 1s 0.5s backwards;
  }

  .header,
  .buttonRow {
    animation: fade-in 1s 2s backwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes raccoon-in {
  from {
    transform: perspective(30rem) scale(0) rotateY(2 * 360deg) scaleX(-1);
  }

  to {
    transform: perspective(30rem) scale(1) rotateY(0) scaleX(-1);
  }
}

@keyframes rainbow-appear {
  from {
    clip-path: xywh(50% 0% 0% 100% round 4px);
  }

  to {
    clip-path: xywh(0% 0% 100% 100% round 4px);
  }
}
