@use 'src/styles/vars.scss' as vars;

.image {
  aspect-ratio: 1920 / 1080;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  .close {
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: vars.$dark-accent-line-2-transparent;
    border-radius: 50%;
    display: flex;
    left: 2.5%;
    padding: 0.25rem;
    position: absolute;
    top: 5%;
    transition: background-color 0.2s;
    z-index: 100;

    .closeIcon {
      fill: vars.$light-background;
    }

    &:hover {
      background-color: var(--theme-accent-line-1-transparent);
    }
  }
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 70rem;
  padding: 2.5rem;
  width: 70vw;

  .header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;

    .eventDetails {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  .link {
    color: var(--theme-primary-2);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-decoration: underline;
  }
}

@media screen and (width <= vars.$breakpoint-md) {
  .eventDetails {
    flex-wrap: wrap;

    /* !important's are necessary here to override Typography's styling */
    .eventTitle {
      font-size: 1.5rem !important;
      line-height: 2rem !important;
    }

    .eventInfo {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
    }
  }

  .header {
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}

@media screen and (width <= vars.$breakpoint-sm) {
  .contents {
    width: 100vw;
  }
}
