@use 'src/styles/vars.scss' as vars;

.profilePage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: vars.$breakpoint-md;
  width: 100%;

  .cardWrapper {
    padding-top: 6.5rem;
    position: relative;

    @media screen and (max-width: vars.$breakpoint-md) {
      padding-top: 1.5rem;
    }

    .banner {
      background-color: vars.$pink-2;
      border: 1px solid var(--theme-elevated-stroke);
      border-bottom: 0;
      border-radius: 0.75rem;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;

      @media screen and (max-width: vars.$breakpoint-md) {
        border: 0;
        border-radius: 0;
        margin: -2rem;
        width: 100vw;
      }
    }

    .profileCard {
      background-color: var(--theme-elevated-background);
      border: 1px solid var(--theme-elevated-stroke);
      border-radius: 0 0 0.75rem 0.75rem;
      border-top: 0;
      display: flex;
      gap: 1rem;
      padding: 2rem;
      position: relative;

      @media (max-width: vars.$breakpoint-md) {
        align-items: center;
        border-radius: 0.75rem;
        border-top: 1px solid var(--theme-elevated-stroke);
        flex-direction: column;
      }

      .profilePic {
        border-radius: 50%;
        flex-shrink: 0;
        height: 7rem;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        width: 7rem;
      }

      .userInfo {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem 0;

        @media (max-width: vars.$breakpoint-md) {
          align-items: center;
          padding: 0;
        }

        .cardName {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media (max-width: vars.$breakpoint-md) {
            align-items: center;
            flex-direction: column;

            h1,
            div {
              text-align: center;
            }
          }

          .handle {
            cursor: pointer;
          }
        }

        .points {
          color: var(--theme-text-on-background-1);
          text-align: end;

          @media (max-width: vars.$breakpoint-md) {
            text-align: center;
          }

          svg {
            height: 1.125rem;
            transform: translateY(
              calc((1.125rem * 1.25) - 1.125rem) * 0.5
            ); // center the trophy icon
            width: 1.125rem;
          }
        }
      }
    }
  }

  .section {
    background-color: var(--theme-elevated-background);
    border: 1px solid var(--theme-elevated-stroke);
    border-radius: 0.75rem;
    padding: 2rem;
  }

  .aboutSection {
    display: grid;
    grid-template-columns: 20rem 1fr;
    position: relative;

    @media (max-width: vars.$breakpoint-md) {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
    }

    .aboutMeSection {
      align-items: center;
      display: grid;
      gap: 0.56rem;
      grid-template-columns: auto 1fr;
      margin: 0.81rem 0;

      .icon {
        height: 1.313rem;
        width: 1.313rem;
      }
    }

    .socialIcons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    .bioSection {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      white-space: pre-wrap;
      word-break: break-word;
    }
  }

  .editWrapper {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.sectionHeader {
  @media screen and (max-width: vars.$breakpoint-md) {
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
  }
}
