@use 'src/styles/vars.scss' as vars;

.logo {
  height: 115px;
}

.container {
  font-size: vars.$general-body;
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  align-items: center;
  display: flex;
  padding: 0 2rem;

  h1 {
    font-size: vars.$general-heading-2;
    margin-left: 1.25rem;
  }
}

.body {
  margin: auto;
  max-width: auto;

  @media only screen and (min-width: vars.$breakpoint-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .socials {
    padding: 2rem;

    .description {
      margin-bottom: 2rem;
      margin-top: 0;
    }

    a {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      margin-bottom: 0.7rem;

      .icon {
        fill: currentColor;
        height: 24px;
        width: 24px;
      }
    }
  }

  .discordPreview {
    border-radius: 10px;
    overflow: hidden;
    width: 350px;

    @media only screen and (max-width: vars.$breakpoint-md) {
      display: none;
    }
  }
}
