.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .eventDisplay {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .eventDisplayHeader {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
