@use 'src/styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 60rem;

  .topThreeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    @media (max-width: vars.$breakpoint-lg) {
      justify-content: center;
    }
  }

  .leaderboard {
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: vars.$breakpoint-sm) {
      border-radius: 0;
      margin: 0 -2rem;
    }
  }
}
