@use 'src/styles/vars.scss' as vars;

.optionsContainer {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: 1.1rem;
  max-width: 22.5rem;
  min-width: 18rem;
  width: 100%;

  @media (max-width: vars.$breakpoint-md) {
    flex: 22.5rem 1 0;
    max-width: none;
    width: 95%;
  }
}

.rowContainer {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  width: 95%;

  @media (max-width: vars.$breakpoint-md) {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    width: 100%;
  }
}

.navbarBodyDiv {
  display: flex;

  flex-direction: column;
  gap: 2rem;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  width: 90%;
  @media (max-width: vars.$breakpoint-md) {
    width: 100%;
  }

  h4 {
    white-space: pre-wrap;
    word-break: break-word;
  }

  p {
    white-space: pre-wrap;
    word-break: break-word;
  }
}

.coverContainer {
  aspect-ratio: 1/1;
  max-height: 37.5rem;
  max-width: 37.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (max-width: vars.$breakpoint-md) {
    max-height: 30rem;
    max-width: 30rem;
  }
}
