.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rowContainer {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  width: 95%;

  @media (max-width: 600px) {
    // could also do display: flex; flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    overflow-y: visible;
    padding: 0;
    width: 100%;

    .coverContainer {
      height: 22.5rem;
    }
  }
}

.navbarBodyDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 90%;
  @media (max-width: 600px) {
    overflow: visible;
    width: 100%;

    ::-webkit-scrollbar {
      appearance: none;
    }
  }
}

.coverContainer {
  height: 37.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
