@use 'src/styles/vars.scss' as vars;

.profilePage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: vars.$breakpoint-md;
  width: 100%;

  // name
  h1 {
    font-size: vars.$general-heading-2;
  }

  // headings
  h2 {
    font-size: vars.$general-heading-3;
    margin-bottom: 0.5rem;
  }

  // big text
  h3 {
    font-size: vars.$general-heading-3-4;
    font-weight: 500;
  }

  // rank
  h4 {
    font-size: vars.$general-heading-3-4;
  }

  // handle
  h5 {
    font-size: vars.$general-heading-4;
    font-weight: 550;
  }

  .cardWrapper {
    padding-top: 3rem;
    position: relative;
  
    .banner {
      background-color: vars.$pink-2;
      border-radius: 0.5rem;
      height: 10rem;
      position: absolute;
      top: 0;
      width: 100%;
    }
    
    .profileCard {
      background-color: var(--theme-background);
      border-radius: 0.25rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      margin: 0 2rem;
      padding: 1rem 2rem;
      position: relative;
  
      
      
      .cardHalf {
        flex-grow: 1;
      }
  
      .profilePic {
        border-radius: 4rem;
        flex-shrink: 0;
        height: 7rem;
        overflow: hidden;
        position: relative;
        width: 7rem;
      }
  
      .iconBox {
        display: flex;
        justify-content: center;
      }
    }
  }
  
  .about {
    border: 2px solid var(--theme-primary-1);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
  
    h1 {
      font-size: vars.$card-heading-1;
      margin-bottom: 0.5rem;
    }
  }
  
  .horizontal {
    display: flex;
  }

  .progressInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .progressBar {
    background-color: var(--theme-text-on-background-3);
    border-radius: 0.5rem;
    height: 1.25rem;
    width: 100%;

    .inner {
      background-color: var(--theme-primary-2);
      border-radius: 0.5rem;
      height: 100%;
    }
  }

  .section {
    border: 2px solid #808184;
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
  }
}
