@use './vars.scss' as vars;

html,
body {
  border: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  min-height: vars.$min-content-height;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  color: var(--theme-text-on-background-1);
  font-size: 100%;
  margin: 0;
  padding: 0;
  transition: background 0.3s ease;
  vertical-align: baseline;
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
  transition: background 0.3s ease;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 0s 0s;
}
