@use 'src/styles/vars.scss' as vars;

.shownMobile {
  display: none;

  @media (max-width: vars.$breakpoint-md) {
    display: block;
  }
}

.shownDesktop {
  display: block;

  @media (max-width: vars.$breakpoint-md) {
    display: none;
  }
}