@use 'src/styles/vars.scss' as vars;

@media screen and (width <= vars.$breakpoint-md) {
  .subheading {
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
  }
}

.hero {
  background-color: var(--theme-elevated-background);
  border: 1px solid var(--theme-elevated-stroke);
  border-radius: 0.75rem;
  height: 20rem;
  overflow: hidden;
  /* Header height: 4.25 rem, padding: 2 rem */
  padding: 2rem 3.125rem;
  position: relative;

  @media screen and (width <= vars.$breakpoint-md) {
    background-color: unset;
    border: 0;
    border-radius: 0;
    height: auto;
    margin: 0 -2rem;
    min-height: min(vars.$min-content-height, calc(1080px - 6.25rem));
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    padding: 0 1rem;
    position: relative;
    z-index: 1;

    @media screen and (width <= vars.$breakpoint-md) {
      gap: 2rem;
      justify-content: space-between;
      padding: 0;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .heading {
        @media screen and (width <= vars.$breakpoint-md) {
          font-size: 2rem !important;
          line-height: 2.5rem !important;
        }
      }
    }
  }

  .image {
    margin: 0 auto;
    max-height: 1080px;
    max-width: 1920px;
    object-fit: cover;
    object-position: 100% 50%;
    z-index: 0;

    &.desktopOnly {
      object-fit: contain;
      object-position: 90% 100%;
      z-index: 1;
    }

    @media screen and (width <= vars.$breakpoint-md) {
      &.desktopOnly {
        display: none;
      }
    }
  }
}
