@use 'src/styles/vars.scss' as vars;

@media screen and (width <= vars.$breakpoint-md) {
  .subheading {
    font-size: 1rem !important;
    line-height: 1.25rem !important;
  }
}

.hero {
  margin: 0 -2rem;
  /* Header height: 4.25 rem, padding: 2 rem */
  min-height: min(vars.$min-content-height, calc(1080px - 6.25rem));
  padding: 0 2rem;
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    padding: 0 1rem;
    position: relative;
    z-index: 1;

    @media screen and (width <= vars.$breakpoint-md) {
      gap: 2rem;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .heading {
        @media screen and (width <= vars.$breakpoint-md) {
          font-size: 2rem !important;
          line-height: 2.5rem !important;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: fit-content;
      padding-bottom: 2rem;

      .checkin {
        background-color: var(--theme-accent-line-2-transparent);
        border-radius: 1rem;
        box-shadow: 0 2px 5px var(--theme-shadow);
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.5rem;
        transition: box-shadow 0.2s;

        .checkinButtons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: space-between;
          width: 100%;

          .checkinInput {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 4px 4px var(--theme-shadow);
            flex: 1;
            font-size: 1rem;
            line-height: 1.25rem;
            overflow: hidden;
            padding: 1rem 1.5rem;

            @media screen and (width <= vars.$breakpoint-md) {
              font-size: 0.8rem;
              line-height: 1rem;
              padding: 0.5rem 1rem;
            }
          }

          .submit {
            align-items: center;
            background-color: var(--theme-primary-3);
            border-radius: 100%;
            box-shadow: 0 4px 4px var(--theme-shadow);
            display: flex;
            height: 50px;
            justify-content: center;
            width: 50px;

            @media screen and (width <= vars.$breakpoint-md) {
              height: 36px;
              width: 36px;
            }

            @media screen and (width <= vars.$breakpoint-sm) {
              display: none;
            }
          }
        }
      }

      .link {
        align-items: center;
        background-color: var(--theme-accent-line-2-transparent);
        border-radius: 1rem;
        box-shadow: 0 2px 5px var(--theme-shadow);
        display: flex;
        flex-direction: row;
        gap: 1rem;
        min-width: fit-content;
        padding: 1rem 1.5rem;
        transition: box-shadow 0.2s;

        &:hover {
          box-shadow: 0 5px 10px var(--theme-shadow);
        }
      }
    }
  }

  .image {
    max-height: 1080px;
    max-width: 1920px;
    object-fit: cover;
    object-position: 100% 100%;
    z-index: 0;

    &.mobile {
      z-index: 1;
    }

    @media screen and (width <= vars.$breakpoint-md) {
      &.mobile {
        display: none;
      }
    }
  }
}
