.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;

  .breakdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.table {
  background-color: var(--theme-surface-1);
  border-radius: 1rem;
  box-shadow: 0 0 4px var(--theme-accent-line-1-transparent);
  padding: 1rem;
  width: fit-content;

  th {
    padding: 1rem 1.5rem;
    text-align: left;
  }

  td {
    padding: 1.5rem;
  }

  tr {
    border-top: 1px solid var(--theme-accent-line-2);
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
  }
}

.itemList {
  list-style-type: disc;
}
