@use 'src/styles/vars.scss' as vars;

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 45rem;

  .header {
    align-items: center;
    background-color: var(--theme-surface-1);
    display: flex;
    height: 3.75rem;
    justify-content: center;
    padding: 1.5rem 1rem;
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 0 1rem;
  }

  .options {
    display: flex;
    gap: 1rem;

    button {
      border: 1px solid var(--theme-accent-line-2, #E4E4E4);
      border-radius: 0.625rem;
      color: vars.$light-background;
      height: 2.5rem;
      width: 12.5rem;

      &:first-child {
        background: vars.$success-1;
      }

      &:nth-child(2) {
        background: vars.$danger-1;
      }
    }
  }
}