.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;

  .container {
    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
