@use 'src/styles/vars.scss' as vars;

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1rem;

  .container {
    align-self: center;
    width: 90vw;

    .header {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      .filter {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}

@media screen and (width <= vars.$breakpoint-md) {
  .page {
    margin: 0;
  }
}
