@use 'src/styles/vars.scss' as vars;

.label {
  display: flex;
  gap: 0.5em;

  .checkbox {
    @include vars.accessibly-hidden;

    &:checked ~ .switch {
      background-color: var(--theme-primary-2);

      &::after {
        margin-left: 1em;
        margin-right: 0;
      }
    }
  }

  .switch {
    align-items: center;
    background-color: var(--theme-text-on-background-1);
    border-radius: 5em;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-flex;
    flex: none;
    height: 1em;
    padding: 0.3em;
    transition: background-color 0.2s;

    &::after {
      aspect-ratio: 1 / 1;
      background-color: var(--theme-background);
      border-radius: 5em;
      content: '';
      display: block;
      height: 100%;
      margin-left: 0;
      margin-right: 1em;
      transition: margin 0.2s;
    }
  }

  .label {
    margin: auto 0;
  }
}
