.tableScroller {
  overflow-x: auto;

  .options {
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;

    &.multipleOptions {
      min-width: 40rem;
    }

    thead {
      background-color: var(--theme-primary-2);
      color: var(--theme-background);
    }

    th {
      text-align: left;
    }

    tbody tr {
      background-color: var(--theme-background);

      &:nth-child(2n + 1) {
        background-color: var(--theme-surface-1);
      }

      .grip {
        height: 1.5rem;
        vertical-align: middle;
        width: 1.5rem;
      }
    }

    th,
    td {
      padding: 0.5rem;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }

    tfoot {
      background-color: var(--theme-surface-2);
    }

    input {
      background: none;
      border: 0;
      border: 1px solid currentColor;
      border-radius: 0.5rem;
      color: inherit;
      font: inherit;
      padding: 0.5rem;
      width: 100%;
    }

    [type='number'] {
      text-align: right;
    }
  }
}
