@use 'src/styles/vars.scss' as vars;

.header {
  align-items: center;
  display: flex;

  .heading {
    flex: auto;
    font-size: 1.5rem;
    // Force heading to shrink (for help modal)
    width: 0;
  }
}
