.options {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.calendarButton {
  align-items: center;
  background: transparent;
  border: 1px solid var(--theme-primary-2);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0.75rem;
  width: 15rem;
}

.calendarButton:hover {
  background: var(--theme-primary-2);
  transition: all 0.2s;
}

@media screen and (max-width: 60rem) {
  .options {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
  }

  .calendarButton {
    font-size: 0.8rem;
  }
}
