@use 'src/styles/vars.scss' as vars;

.wrapper {
  border: 1px solid var(--theme-elevated-stroke);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;

  .user {
    align-items: center;
    background-color: var(--theme-elevated-background);
    border-bottom: 1px solid var(--theme-elevated-stroke);
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    display: flex;
    flex: auto;
    gap: 0.5rem;
    padding: 0.5rem;
    position: relative;

    img {
      border-radius: 50%;
    }

    &:hover span {
      text-decoration: underline;
    }

    &::after {
      background-color: var(--theme-background);
      border-right: 1px solid var(--theme-elevated-stroke);
      border-top: 1px solid var(--theme-elevated-stroke);
      content: '';
      height: 0.5rem;
      left: 1.25rem;
      margin: -0.25rem;
      position: absolute;
      top: 100%;
      transform: rotate(-45deg);
      width: 0.5rem;
    }
  }

  .body {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    .feedback {
      display: flex;
      flex: auto;
      flex-direction: column;
      gap: 0.5rem;
      white-space: pre-wrap;
      word-break: break-word;

      .date {
        color: var(--theme-text-on-background-2);
      }
    }

    .statuses {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input,
      &.userView input:not(:checked) + .status {
        @include vars.accessibly-hidden;
      }

      .status {
        border: 1px solid currentColor;
        border-radius: 1rem;
        display: flex;
        gap: 0.25rem;
        padding: 0.25rem;
      }

      &.adminView {
        .status {
          cursor: pointer;
        }

        input:checked + .status {
          background-color: var(--theme-text-on-background-1);
          border-color: transparent;
          color: var(--theme-background);
        }
      }
    }
  }
}
