@use 'src/styles/vars.scss' as vars;

.card {
  border: 1px solid var(--theme-elevated-stroke);
  border-radius: 0.5rem;

  .container {
    align-items: center;
    background-color: var(--theme-elevated-background);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    text-align: left;
    width: 100%;

    .orderInfo {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      gap: 3rem;

      .label {
        display: flex;
        flex-direction: column;
      }
    }

    &.focused {
      border-bottom: 1px solid var(--theme-elevated-stroke);
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
}

.mobile {
  display: none;
}

.orderSummary {
  background-color: var(--theme-surface-2);
}

@media screen and (width <= vars.$breakpoint-md) {
  .card {
    .container {
      align-items: flex-start;
      flex-direction: column;

      .orderInfo {
        flex-direction: column;
        gap: 1rem;

        .mobileHeader {
          align-items: center;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }

  .mobile {
    display: flex;
    flex: 0;
    margin-right: 0;
  }

  .desktop {
    display: none;
  }
}
