@use 'src/styles/vars.scss' as vars;

.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 var(--theme-accent-line-2-transparent);

  .container {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    text-align: left;
    width: 100%;

    .orderInfo {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      gap: 3rem;

      .label {
        display: flex;
        flex-direction: column;
      }
    }

    &.focused {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.orderStatus {
  background: vars.$gray-400;
  border: 1px solid vars.$disabled;
  border-radius: 0.875rem;
  color: vars.$disabled;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;

  &.mobile {
    display: none;
  }

  &.green {
    background: vars.$green-100;
    border: 1px solid vars.$success-1;
    color: vars.$success-1;
  }

  &.gray {
    background: vars.$gray-400;
    border: 1px solid vars.$disabled;
    color: vars.$disabled;
  }

  &.blue {
    background: vars.$blue-100;
    border: 1px solid vars.$dark-primary-5;
    color: vars.$dark-primary-5;
  }

  &.red {
    background: vars.$scarlet-2;
    border: 1px solid vars.$danger-1;
    color: vars.$danger-1;
  }
}

.orderSummary {
  background-color: var(--theme-surface-2);
}

@media screen and (width <= vars.$breakpoint-md) {
  .card {
    .container {
      align-items: flex-start;
      flex-direction: column;

      .orderInfo {
        flex-direction: column;
        gap: 1rem;

        .mobileHeader {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }

  .orderStatus {
    &.mobile {
      display: flex;
    }

    &.desktop {
      display: none;
    }
  }
}
