.eventPicker {
  align-items: center;
  display: flex;
  flex-direction: column;

  .window {
    --width: 320px;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: var(--width);

    .slider {
      display: flex;
      height: fit-content;
      position: absolute;
      transition: transform 0.3s ease-in-out;

      > button {
        border-radius: 0;

        &:hover {
          transform: unset;
        }
      }
    }

    .noEvents {
      align-items: center;
      color: var(--theme-text-on-background-3);
      display: flex;
      height: 100%;
      text-align: center;
      width: 100%;
    }
  }

  .eventNavigation {
    align-items: center;
    align-self: stretch;
    background-color: var(--theme-elevated-background);
    display: flex;
    justify-content: space-between;

    button {
      background-color: var(--theme-surface-1);
      border-radius: 0.9375rem;
      display: flex;
      height: 1.875rem;
      margin: 0.5rem 1rem;
      padding: 0;
      width: 1.875rem;

      svg {
        color: var(--theme-text-on-background-3);
        transition: color 0.25s ease;
      }

      &:disabled {
        cursor: default;

        svg {
          color: transparent;
        }
      }
    }
  }
}
