.edit {
  align-self: flex-start;
  background-color: var(--theme-primary-2);
  border-radius: 50%;
  color: var(--theme-background);
  display: flex;
  flex: none;
  padding: 0.5rem;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 2px 5px var(--theme-shadow);
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
