.overflowing {
  position: relative;

  .window {
    margin-right: 2px; // shift cutoff by 2px for antialiased text bleeding through
    overflow: hidden;

    .slider {
      display: flex;
      gap: 2rem;
    
      @keyframes marquee {
        0%   { transform: translateX(0%); }
        100% { transform: translateX(calc(-100% / 2 - 1rem)); }
      }
    
      &:hover {
        animation: marquee var(--anim-time, 3s) linear infinite;
      }
    }
  }

  &::after {
    background-image: linear-gradient(to left, var(--theme-background), rgba(0,0,0,0));
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
  }
}

.slider {
  width: fit-content;
}
