@use 'src/styles/vars.scss' as vars;

.addCartGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    color: var(--theme-text-on-background-1);
    font-size: vars.$general-heading-4;
  }

  .buttonRow {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .quantityColumn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .error {
    color: vars.$danger-1;
  }

  .valid {
    color: vars.$success-1;
  }

  .button {
    border-radius: 10px;
    font-size: vars.$input-text-medium;
    font-weight: bold;
    height: 40px;
    width: 200px;
  }

  .buttonInStock {
    background-color: var(--theme-primary-2);
    color: var(--theme-text-on-background1);
  }

  .buttonNoStock {
    background-color: var(--theme-background);
    border: solid;
    border-color: var(--theme-accent-line-2);

    border-width: 1px;
    color: vars.$disabled;
  }
}
