@use 'src/styles/vars.scss' as vars;

.price {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.itemHeaderGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  h1 {
    @media (max-width: 600px) {
      font-size: vars.$card-heading-1;
    }
    display: inline;
    font-size: vars.$general-heading-2;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02rem;
    line-height: 2.5rem; /* 125% */
    word-break: break-word;
  }

  p {
    color: var(--theme-text-on-background-1);
    font-size: vars.$general-heading-4;
  }

  .error {
    color: vars.$danger-1;
  }

  .valid {
    color: vars.$success-1;
  }
}
