@use 'src/styles/vars.scss' as vars;

.price {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.itemHeaderGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h1 {
    @media (max-width: 600px) {
      font-size: vars.$card-heading-1;
    }

    flex: 1 0 0;
    font-size: vars.$general-heading-2;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02rem;
    line-height: 2.5rem; /* 125% */
  }

  p {
    color: var(--theme-text-on-background-1);
    font-size: vars.$general-heading-4;
  }

  .error {
    color: vars.$danger-1;
  }

  .valid {
    color: vars.$success-1;
  }

  .button {
    align-items: center;
    border-color: var(--theme-accent-line-2);
    border-radius: 0.625rem;
    border-width: 1px;

    display: flex;
    font-size: vars.$input-text-medium;
    font-weight: bold;
    justify-content: center;
    padding: 0 1rem;
    width: 4.4375rem;
  }

  .buttonInStock {
    background-color: var(--theme-primary-2);
    color: var(--theme-text-on-background1);
  }

  .buttonNoStock {
    background-color: var(--theme-background);
    color: vars.$disabled;
  }
}
