@use 'src/styles/vars.scss' as vars;

.price {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.itemHeaderGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  .itemName {
    display: flex;

    span {
      margin-right: auto;
      white-space: pre-wrap;
      word-break: break-word;
    }
  }

  .error {
    color: vars.$danger-1;
  }

  .valid {
    color: vars.$success-1;
  }
}
