@use 'src/styles/vars.scss' as vars;

$indicator-size: 30px;
$switch-gap: 127%;
$switch-gap-num: calc($switch-gap / 100%);
$switch-start: 15%;
$component-roundness: 34px;

.switch {
  align-items: center;
  border-color: var(--theme-mode-indicator);
  border-radius: $component-roundness;
  border-style: solid;
  border-width: 1px;
  display: flex;
  float: left;
  position: relative;

  label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    float: left;
    height: $indicator-size * $switch-gap-num;
    justify-content: center;
    width: $indicator-size * $switch-gap-num;

    input {
      opacity: 0;
      position: absolute;
    }

    // IF YOU WANT TO ADD BACKGROUND TO SWITCH, USE THESE
    // .switchLightMode {
    //   background: #121415;
    // }

    // .switchDarkMode {
    //   background: #fffff4;
    // }
  }

  &indicator {
    align-self: center;

    background: var(--theme-mode-indicator);
    border-radius: 50%;
    display: flex;
    height: $indicator-size;
    left: 0;
    opacity: 50%;
    pointer-events: none;
    position: absolute;
    transform: translate3d(1rem, 0, 0);
    transition: transform 0.6s cubic-bezier(0.02, 0.94, 0.09, 0.97),
      background 0.3s cubic-bezier(0.17, 0.67, 0.14, 1.03);
    width: $indicator-size;
    z-index: 1;
  }

  .icon {
    align-items: center;
    display: flex;

    fill: var(--theme-mode-icon);
    height: $indicator-size;
    justify-content: center;
    padding: $indicator-size * 0.25;
    position: absolute;
    stroke: var(--theme-mode-icon);
    width: $indicator-size;
    z-index: 2;
  }

  .switchOne {
    transform: translate3d($switch-start, 0, 0);
  }

  .switchTwo {
    transform: translate3d(calc($switch-start + $switch-gap), 0, 0);
  }

  .switchThree {
    transform: translate3d(calc($switch-start + $switch-gap * 2), 0, 0);
  }
}

// INFO LINKS
// https://stackoverflow.com/questions/19417081/doing-math-on-variable-argument-sass-mixins
