@use 'src/styles/vars.scss' as vars;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem -2rem;
  position: relative;
  z-index: 0;

  .hero {
    display: flex;
    gap: 12rem;
    height: calc(100vh - 10rem);
    margin: 0 auto;
    max-height: 56rem;
    max-width: 85rem;
    min-height: 36rem;
    padding: 0 2rem;
    padding-bottom: 9rem;
    width: 100%;

    @media (max-width: vars.$breakpoint-lg) {
      align-items: center;
      flex-direction: column;
      gap: 0;
      height: unset;
      min-height: unset;
      padding-bottom: 0;
    }

    .left {
      align-items: center;
      display: flex;

      @media (max-width: vars.$breakpoint-lg) {
        display: none;
      }

      .imageWrapper {
        flex: none;
        height: 26rem;
        margin: 1.5rem;
        position: relative;
        width: 26rem;
        z-index: 0;

        &::before,
        &::after {
          border: 2px solid currentColor;
          content: '';
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: -1;
        }

        &::before {
          left: -1.5rem;
          top: 1.5rem;
        }

        &::after {
          left: 1.5rem;
          top: -1.5rem;
        }

        img {
          object-fit: cover;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
      max-width: 34rem;

      @media (max-width: vars.$breakpoint-lg) {
        margin: 0;
      }

      .deco1,
      .deco2 {
        flex: none;
        @media (max-width: vars.$breakpoint-lg) {
          display: none;
        }
      }

      .heroContent {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        // Godly
        // https://stackoverflow.com/questions/48795143/css-text-with-gradient-and-gradient-outline
        .heading {
          color: #fff;
          font-size: 4rem;
          position: relative;
          z-index: 0;

          &::before {
            background-clip: text;
            background-image: vars.$wobnaiw;
            color: transparent;
            content: 'The ACM Store';
            display: block;
            filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25));
            left: 0;
            margin: -10px;
            padding: 10px;
            position: absolute;
            -webkit-text-stroke: 7px transparent;
            top: 0;
            z-index: -1;
          }
        }

        .description {
          font-size: 1.375rem;
          line-height: 1.75rem;
        }

        .textButton {
          background: none;
          color: var(--theme-blue-text-button);
          font: inherit;
          padding: 0;
          text-align: left;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .deco2 {
        align-self: flex-end;
        margin-top: -2rem;
      }
    }
  }
}
